---
- name: Assert template_parameters is defined
  ansible.builtin.assert:
    that:
      - template_parameters is defined
    fail_msg: "template_parameters must be defined"

- name: Display template parameters
  ansible.builtin.debug:
    var: template_parameters

- name: Update template parameters in VM order
  ansible.builtin.set_fact:
    template_parameters: "{{ template_parameters | combine(vm_settings_template_default, recursive=true) }}"
  when: (template_parameters.cloud_init_config is not defined) or (template_parameters.cloud_init_config | length == 0)
