---
- name: Delete a compute instance from a ComputeInstance
  hosts: localhost
  gather_facts: false

  vars:
    compute_instance: "{{ ansible_eda.event.payload }}"
    compute_instance_name: "{{ ansible_eda.event.payload.metadata.name }}"

  pre_tasks:
    - name: Extract compute instance template info
      ansible.builtin.include_role:
        name: cloudkit.service.extract_compute_instance_template_info

    - name: Determine working namespace
      ansible.builtin.include_role:
        name: cloudkit.service.compute_instance_working_namespace

  tasks:
    - name: Display compute instance deletion information
      ansible.builtin.debug:
        msg:
          - "Deleting compute instance: {{ compute_instance_name }}"
          - "Compute instance working namespace: {{ compute_instance_working_namespace }}"
          - "Template ID: {{ template_id }}"

    - name: Call the selected compute instance template for deletion
      ansible.builtin.include_role:
        name: "{{ template_id }}"
        tasks_from: "delete"

    - name: "Remove the finalizer on the Cloudkit compute instance {{ compute_instance.metadata.name }}"
      ansible.builtin.include_role:
        name: cloudkit.service.finalizer
      vars:
        finalizer_state: absent
        finalizer_name: "{{ compute_instance_cloudkit_finalizer }}"
        finalizer_target:
          api_version: cloudkit.openshift.io/v1alpha1
          kind: ComputeInstance
          namespace: "{{ compute_instance.metadata.namespace }}"
          name: "{{ compute_instance_name }}"
