---
- name: Create host infrastructure from a Host
  hosts: localhost
  gather_facts: false

  vars:
    host_crd: "{{ ansible_eda.event.payload }}"
    cloudkit_fulfillment_service_uri: "{{ lookup('env', 'CLOUDKIT_FULFILLMENT_SERVICE_URI', default='https://fulfillment-api:8000') }}"

  pre_tasks:
    - name: Show host values
      ansible.builtin.debug:
        var: host_crd

    - name: Set host name
      ansible.builtin.set_fact:
        host_name: "{{ host_crd.metadata.name }}"

    - name: Set lock holder identity
      ansible.builtin.set_fact:
        host_holder_id: >-
          {{ host_name }}-{{ awx_job_id | default("unknown") }}-{{
            lookup('community.general.random_string', special=false, numbers=false, upper=false)
          }}

  tasks:
    - name: Acquire host lock
      ansible.builtin.include_role:
        name: cloudkit.service.lease
      vars:
        lease_state: present
        lease_holder: "{{ host_holder_id }}"
        lease_name: "host-{{ host_name }}-lock"

    - name: Add infrastructure finalizer
      ansible.builtin.include_role:
        name: cloudkit.service.finalizer
      vars:
        finalizer_state: present
        finalizer_name: "{{ host_infrastructure_finalizer }}"
        finalizer_target:
          api_version: "{{ item.api_version }}"
          kind: "{{ item.kind }}"
          namespace: "{{ item.namespace | default(omit) }}"
          name: "{{ item.name }}"
      loop:
        - api_version: cloudkit.openshift.io/v1alpha1
          kind: Host
          namespace: "{{ lookup('env', 'POD_NAMESPACE') }}"
          name: "{{ host_crd.metadata.name }}"

    - name: Synchronize host
      ansible.builtin.import_role:
        name: cloudkit.service.manage_hosts
        tasks_from: sync_host
      vars:
        manage_hosts_host_crd: "{{ host_crd }}"
