---
- name: Retrieve working vm namespace unless it is already set
  when: vm_working_namespace is not defined
  block:
  - name: Retrieve tenant
    kubernetes.core.k8s_info:
      api_version: cloudkit.openshift.io/v1alpha1
      kind: Tenant
      name: "{{ vm_order.status.tenantReference.name }}"
      namespace: "{{ vm_order.status.tenantReference.namespace }}"
    register: vm_working_namespace_tenant

  - name: Check if the tenant is found
    ansible.builtin.fail:
      msg: "Tenant namespace was not found. ({{ vm_working_namespace_tenant.resources | length }} were found.)"
    when: vm_working_namespace_tenant.resources | length != 1

  - name: Set working vm namespace as result
    ansible.builtin.set_fact:
      vm_working_namespace: "{{ vm_working_namespace_tenant.resources[0].status.namespace }}"
