- name: Get list of existing ComputeInstance templates
  ansible.builtin.uri:
    url: "{{ publish_templates_compute_instance_api_endpoint }}"
    validate_certs: "{{ publish_templates_validate_certs | default(true) | bool }}"
    headers:
      authorization: Bearer {{ cloudkit_fulfillment_service_token }}
  register: compute_instance_template_check

- name: Create list of existing ComputeInstance template IDs
  ansible.builtin.set_fact:
    compute_instance_template_ids: >-
      {{
      compute_instance_template_check | json_query("json.items[].id")
      }}
  when: compute_instance_template_check is success and compute_instance_template_check.json.size > 0

- name: Update existing ComputeInstance template
  loop: "{{ cloudkit_compute_instance_templates }}"
  loop_control:
    label: "{{ template.id }}"
    loop_var: template
  when: compute_instance_template_ids is defined and template.id in compute_instance_template_ids
  ansible.builtin.uri:
    url: "{{ publish_templates_compute_instance_api_endpoint }}/{{ template.id }}"
    validate_certs: "{{ publish_templates_validate_certs | default(true) | bool }}"
    method: PATCH
    headers:
      authorization: Bearer {{ cloudkit_fulfillment_service_token }}
    body_format: json
    body: "{{ template }}"

- name: Create new ComputeInstance template
  loop: "{{ cloudkit_compute_instance_templates }}"
  loop_control:
    label: "{{ template.id }}"
    loop_var: template
  when: compute_instance_template_ids is not defined or template.id not in compute_instance_template_ids
  ansible.builtin.uri:
    url: "{{ publish_templates_compute_instance_api_endpoint }}"
    validate_certs: "{{ publish_templates_validate_certs | default(true) | bool }}"
    method: POST
    headers:
      authorization: Bearer {{ cloudkit_fulfillment_service_token }}
    body_format: json
    body: "{{ template }}"
