- name: Convert router properties to tags
  ansible.builtin.set_fact:
    tags_to_filter: "{{ tags_to_filter | default([]) + [item.key + '_' + item.value] }}"
  loop: "{{ l3_network_properties | dict2items }}"
  when: l3_network_properties | length > 0

- name: List routers with tags
  block:
  - name: List routers  # noqa:no-changed-when
    ansible.builtin.command: >-
      openstack router list
      {% for tag in tags_to_filter %}
      --tag "{{ tag }}"
      {% endfor %}
      --long
      -f json
    register: list_routers_cmd

  - name: Set list_routers_result to routers list
    ansible.builtin.set_fact:
      list_routers_result: "{{ list_routers_cmd.stdout | from_json }}"
