- name: Get all networks
  openstack.cloud.networks_info:
  register: all_networks

- name: Filter networks and get their UUIDs
  ansible.builtin.set_fact:
    network_uuids: >
      {{
        (
          (all_networks.networks | selectattr('name', 'in', networks)) +
          (all_networks.networks | selectattr('id', 'in', networks))
        ) | map(attribute='id') | unique
      }}

- name: Detach networks from node
  massopencloud.esi.node_network:
    state: absent
    node: "{{ node }}"

- name: Attach networks to node
  massopencloud.esi.node_network:
    state: present
    node: "{{ node }}"
    networks: "{{ network_uuids }}"
