- name: Grab current network configuration for node
  massopencloud.esi.node_network_info:
    nodes:
      - "{{ node }}"
  register: nnl_raw

- name: Filter for attached ports
  ansible.builtin.set_fact:
    ports_info: >-
      {{
        nnl_raw.node_networks[0].ports_info |
        rejectattr('network_port', 'undefined') |
        rejectattr('network_port', 'equalto', None) |
        list
      }}

- name: Get all networks
  openstack.cloud.networks_info:
  register: all_networks

- name: Filter networks and get their UUIDs
  ansible.builtin.set_fact:
    network_uuids: >
      {{
        (
          (all_networks.networks | selectattr('name', 'in', networks)) +
          (all_networks.networks | selectattr('id', 'in', networks))
        ) | map(attribute='id') | unique
      }}

- name: Extract network IDs from node ports
  ansible.builtin.set_fact:
    current_node_network_ids: >-
      {{
        ports_info |
        map(attribute='network.id') |
        list
      }}

- name: Check if configured networks are different from desired networks
  ansible.builtin.set_fact:
    network_differences: >-
      {{
        (network_uuids | difference(current_node_network_ids)) +
        (current_node_network_ids | difference(network_uuids))
      }}

- name: Detach networks from node
  when: network_differences | length > 0 and ports_info | length > 0
  massopencloud.esi.node_network:
    state: absent
    node: "{{ node }}"

- name: Delete Neutron ports
  when: network_differences | length > 0
  loop: "{{ ports_info }}"
  loop_control:
    loop_var: port_info
  openstack.cloud.port:
    state: "absent"
    name: "{{ port_info.network_port.id }}"

- name: Attach networks to node
  when: network_differences | length > 0
  loop: "{{ network_uuids }}"
  loop_control:
    loop_var: network_uuid
  massopencloud.esi.node_network:
    state: present
    node: "{{ node }}"
    network: "{{ network_uuid }}"
