---
- name: Get template parameters from cluster order
  ansible.builtin.set_fact:
    cluster_settings_template_parameters: "{{ cluster_order.spec.templateParameters | from_json }}"

- name: Get default pull-secret and ssh-key
  when: >-
    "ssh_public_key" not in cluster_settings_template_parameters
    or "pull_secret" not in cluster_settings_template_parameters
  kubernetes.core.k8s_info:
    api_version: v1
    kind: Secret
    name: "{{ cluster_settings_default_credentials_secret_name }}"
    namespace: "{{ cluster_settings_default_credentials_secret_namespace }}"
  failed_when: false
  register: default_cluster_credentials

- name: Apply defaults if they exist
  when: >-
    default_cluster_credentials.resources|default(false)
  block:
    - name: Set default pull-secret and ssh-key as template default parameters
      when: >-
        cluster_settings_template_parameters.ssh_public_key is not defined
        or cluster_settings_template_parameters.pull_secret is not defined
      ansible.builtin.set_fact:
        cluster_settings_template_defaults: >
          {{ cluster_settings_template_defaults | combine({
              'pull_secret': '{{ default_cluster_credentials.resources[0].data.pull_secret | b64decode }}',
              'ssh_public_key': '{{ default_cluster_credentials.resources[0].data.ssh_public_key | b64decode }}'
              })
          }}
      no_log: true

    - name: Merge default template parameters with user-provided template parameters
      ansible.builtin.set_fact:
        cluster_settings_template_defaults: >-
          {{ cluster_settings_template_defaults | combine(cluster_settings_template_parameters) }}
      no_log: true

    - name: Merge update template parameters into cluster order
      ansible.builtin.set_fact:
        cluster_order: >-
          {{
          cluster_order | combine({
            "spec": {
              "templateParameters": cluster_settings_template_defaults|to_json,
            }
          }, recursive=true)
          }}
      no_log: true

- name: Set default nodeRequests
  when: >-
    not cluster_order.spec.nodeRequests|default([])
  ansible.builtin.set_fact:
    cluster_order: >-
      {{
      cluster_order | combine({
        "spec": {
          "nodeRequests": [
            {"numberOfNodes": 2, "resourceClass": "fc430"}
          ]
        }
      }, recursive=true)
      }}
  no_log: true
