# The VM Create Playbook in osac-aap pass in the following variables:
# vm_order: Payload from EDA
# vm_order_name: Name for the order.
# vm_working_namespace: Private namespace created for the VM
# template_id: Template Id string.
# template_parameters: All template variables passed.  Defined in arguement_specs.yaml
# default_arg_specs: default values for arguement_specs
---
- name: Merge template defaults into template_parameters
  ansible.builtin.set_fact:
    params: "{{ default_arg_specs | combine(template_parameters) }}"

- name: Validate exposed_ports format
  ansible.builtin.assert:
    that:
      - params.exposed_ports is match('^([0-9]+/(tcp|udp))(,[0-9]+/(tcp|udp))*$')
    fail_msg: "exposed_ports must be in format 'port/protocol' (e.g., '22/tcp,80/tcp') where protocol is 'tcp' or 'udp'"

- name: Validate cloud_init_config is base64 encoded
  ansible.builtin.assert:
    that:
      - params.cloud_init_config | length > 0
      - params.cloud_init_config | b64decode is defined
    fail_msg: "cloud_init_config must be a valid base64 encoded string"

- name: Build template spec base
  ansible.builtin.set_fact:
    vm_template_spec:
      domain:
        cpu:
          cores: "{{ params.cpu_cores }}"
        memory:
          guest: "{{ params.memory }}"
        devices:
          disks:
            - name: root-disk
              disk:
                bus: virtio
            - name: cloud-init-disk
              disk:
                bus: virtio
              serial: cloud-init
          interfaces:
            - name: default
              masquerade: {}
          rng: {}
        features:
          smm:
            enabled: true
          acpi: {}
          apic: {}
          hyperv:
            relaxed: {}
            vapic: {}
            spinlocks:
              spinlocks: 8191
      networks:
        - name: default
          pod: {}
      volumes:
        - name: root-disk
          dataVolume:
            name: "{{ vm_order_name }}-root-disk"
        - name: cloud-init-disk
          cloudInitNoCloud:
            secretRef:
              name: "{{ vm_order_name }}-cloud-init"

- name: Create cloud-init secret
  kubernetes.core.k8s:
    definition:
      apiVersion: v1
      kind: Secret
      metadata:
        name: "{{ vm_order_name }}-cloud-init"
        namespace: "{{ vm_working_namespace }}"
        labels: "{{ default_vm_labels }}"
      type: Opaque
      data:
        userData: "{{ params.cloud_init_config }}"
    state: present

- name: Create ssh public key secret and add accessCredentials to template spec
  when: params.ssh_public_key is defined and params.ssh_public_key | length > 0
  block:
    - name: Create Secret resource containing ssh public key
      kubernetes.core.k8s:
        state: present
        definition:
          apiVersion: v1
          kind: Secret
          metadata:
            name: "{{ vm_order_name }}-ssh-public-key"
            namespace: "{{ vm_working_namespace }}"
            labels: "{{ default_vm_labels }}"
          data:
            ssh-public-key: "{{ params.ssh_public_key | b64encode }}"
          type: Opaque

    - name: Add accessCredentials to template spec
      ansible.builtin.set_fact:
        vm_template_spec: "{{ vm_template_spec | combine(ssh_public_key_patch, recursive=True, list_merge='append') }}"
      vars:
        ssh_public_key_patch:
          accessCredentials:
            - sshPublicKey:
                source:
                  secret:
                    secretName: "{{ vm_order_name }}-ssh-public-key"
                propagationMethod:
                  noCloud: {}

- name: Get the all StorageClasses
  kubernetes.core.k8s_info:
    api_version: storage.k8s.io/v1
    kind: StorageClass
  register: storage_classes

- name: Set default StorageClass
  ansible.builtin.set_fact:
    storage_class: "{{ item.metadata.name }}"
  loop: "{{ storage_classes.resources }}"
  when:
    - "'storageclass.kubernetes.io/is-default-class' in item.metadata.annotations"
    - item.metadata.annotations['storageclass.kubernetes.io/is-default-class'] | bool

- name: Override the storage_class name if defined in cluster-fulfillment-ig
  set_fact:
    storage_class: "{{ lookup('env', 'CLOUDKIT_VM_OPERATIONS_STORAGE_CLASS') | default(storage_class) }}"

- name: Using vmaas_storage_class
  ansible.builtin.debug:
    var: storage_class

- name: Create DataVolume for VM root disk
  kubernetes.core.k8s:
    apply: true
    definition:
      apiVersion: cdi.kubevirt.io/v1beta1
      kind: DataVolume
      metadata:
        name: "{{ vm_order_name }}-root-disk"
        labels: "{{ default_vm_labels }}"
        namespace: "{{ vm_working_namespace }}"
      spec:
        source:
          registry:
            url: "docker://{{ params.image_source }}"
        pvc:
          accessModes:
            - ReadWriteOnce
          resources:
            requests:
              storage: "{{ params.disk_size }}"
          storageClassName: "{{ storage_class }}"
    state: present

- name: Create VirtualMachine
  kubernetes.core.k8s:
    apply: true
    definition:
      apiVersion: kubevirt.io/v1
      kind: VirtualMachine
      metadata:
        name: "{{ vm_order_name }}"
        namespace: "{{ vm_working_namespace }}"
        labels: "{{ default_vm_labels }}"
      spec:
        running: true
        template:
          metadata:
            labels: "{{ default_vm_labels }}"
          spec: "{{ vm_template_spec }}"
    state: present

- name: Show VM Namespace and VM Name
  debug:
    msg: "Namespace {{ vm_working_namespace }} - Name: {{ vm_order_name }}"

- name: Wait for VM to be ready
  kubernetes.core.k8s_info:
    api_version: kubevirt.io/v1
    kind: VirtualMachine
    name: "{{ vm_order_name }}"
    namespace: "{{ vm_working_namespace }}"
    wait: true
    wait_condition:
      type: Ready
      status: "True"
    wait_timeout: 600

- name: Assign floating IP
  ansible.builtin.include_role:
    name: massopencloud.esi.floating_ip
  vars:
    floating_ip_state: present
    floating_ip_name: "{{ vm_order_name }}-floating-ip"
    floating_ip_properties:
      vm: "{{ vm_order_name }}"
      instance: "{{ vm_order.metadata.namespace }}"
      purpose: "o-sac"

- name: Build Kubernetes service ports from exposed_ports
  ansible.builtin.set_fact:
    vm_service_ports: >
      {{ vm_service_ports | default([]) + [{'name': port_name, 'port': port_number, 'targetPort': port_number, 'protocol': port_protocol}] }}
  vars:
    port_number: "{{ item.split('/')[0] | int }}"
    port_protocol: "{{ item.split('/')[1] | upper }}"
    port_name: "{{ port_protocol | lower }}-{{ port_number }}"
  loop: "{{ params.exposed_ports.split(',') }}"

- name: Create external LoadBalancer for VM
  kubernetes.core.k8s:
    state: present
    apply: true
    definition:
      apiVersion: v1
      kind: Service
      metadata:
        name: "{{ vm_order_name }}-load-balancer"
        namespace: "{{ vm_working_namespace }}"
        labels: "{{ default_vm_labels }}"
      spec:
        type: LoadBalancer
        selector: "{{ default_vm_labels }}"
        ports: "{{ vm_service_ports }}"

- name: Get LoadBalancer IP
  kubernetes.core.k8s_info:
    api_version: v1
    kind: Service
    name: "{{ vm_order_name }}-load-balancer"
    namespace: "{{ vm_working_namespace }}"
  register: load_balancer
  until: load_balancer.resources[0].status.loadBalancer.ingress is defined
  retries: 30
  delay: 10

- name: Get VirtualMachine Instance to find the node
  kubernetes.core.k8s_info:
    api_version: kubevirt.io/v1
    kind: VirtualMachineInstance
    name: "{{ vm_order_name }}"
    namespace: "{{ vm_working_namespace }}"
  register: vmi_info

- name: Get Node information for the VM
  kubernetes.core.k8s_info:
    api_version: v1
    kind: Node
    name: "{{ vmi_info.resources[0].status.nodeName }}"
  register: node_info

- name: Build port mappings list
  ansible.builtin.set_fact:
    port_mappings: "{{ port_mappings | default([]) + [item.port | string + ':' + item.nodePort | string] }}"
  loop: "{{ load_balancer.resources[0].spec.ports }}"

- name: Create floating IP port forwarding to VM node NodePorts
  ansible.builtin.include_role:
    name: massopencloud.esi.floating_ip
    tasks_from: create_port_forwarding
  vars:
    internal_ip: "{{ node_info.resources[0].status.addresses | selectattr('type', 'equalto', 'InternalIP') | map(attribute='address') | first }}"
    floating_ip: "{{ allocate_floating_ip_result }}"
    internal_network: "{{ default_vm_internal_network }}"
    ports: "{{ port_mappings }}"
    description: "{{ vm_order_name }}-nodeport"

- name: Annotate VirtualMachine with floating IP address and config hash
  kubernetes.core.k8s:
    api_version: cloudkit.openshift.io/v1alpha1
    kind: VirtualMachine
    name: "{{ vm_order_name }}"
    namespace: "{{ vm_order.metadata.namespace }}"
    state: present
    definition:
      metadata:
        annotations:
          cloudkit.openshift.io/floating-ip-address: "{{ allocate_floating_ip_result }}"
          cloudkit.openshift.io/reconciled-config-version: "{{ vm_order.status.desiredConfigVersion | default('unknown') }}"

- name: Get VM status
  kubernetes.core.k8s_info:
    api_version: kubevirt.io/v1
    kind: VirtualMachine
    name: "{{ vm_order_name }}"
    namespace: "{{ vm_working_namespace }}"
  register: vm_status

- name: Display VM information
  ansible.builtin.debug:
    msg:
      - "Virtual Machine '{{ vm_order_name }}' created successfully"
      - "Namespace: {{ vm_working_namespace }}"
      - "Image: {{ params.image_source }}"
      - "CPU Cores: {{ params.cpu_cores }}/Memory: {{ params.memory }}"
      - "Root Disk Size: {{ params.disk_size }}"
      - "Status: {{ vm_status.resources[0].status.printableStatus | default('Unknown') }}"
