---
- name: Set VM facts
  ansible.builtin.set_fact:
    vm_name: "{{ vm_order.metadata.name }}"
    vm_cpu_cores: "{{ template_parameters.cpu_cores }}"
    vm_memory: "{{ template_parameters.memory }}"
    vm_disk_size: "{{ template_parameters.disk_size }}"
    vm_image_source: "{{ template_parameters.image_source }}"
    storage_class: "{{ default_vm_storage_class }}"
    vm_internal_network: "{{ default_vm_internal_network }}"
    vm_service_ports: "{{ default_vm_service_ports }}"
    ssh_public_key: "{{ template_parameters.ssh_public_key }}"

- name: Create cloud-init secret
  kubernetes.core.k8s:
    definition:
      apiVersion: v1
      kind: Secret
      metadata:
        name: "{{ vm_name }}-cloud-init"
        namespace: "{{ vm_target_namespace }}"
        labels: "{{ default_vm_labels }}"
      type: Opaque
      data:
        userData: "{{ (template_parameters.cloud_init_config | to_nice_yaml) | b64encode }}"
    state: present

- name: Create DataVolume for VM root disk
  kubernetes.core.k8s:
    definition:
      apiVersion: cdi.kubevirt.io/v1beta1
      kind: DataVolume
      metadata:
        name: "{{ vm_name }}-root-disk"
        namespace: "{{ vm_target_namespace }}"
        labels: "{{ default_vm_labels }}"
      spec:
        source:
          registry:
            url: "docker://{{ vm_image_source }}"
        pvc:
          accessModes:
            - ReadWriteOnce
          resources:
            requests:
              storage: "{{ vm_disk_size }}"
          storageClassName: "{{ storage_class }}"
    state: present

- name: Create VirtualMachine
  kubernetes.core.k8s:
    definition:
      apiVersion: kubevirt.io/v1
      kind: VirtualMachine
      metadata:
        name: "{{ vm_name }}"
        namespace: "{{ vm_target_namespace }}"
        labels: "{{ default_vm_labels }}"
      spec:
        running: true
        template:
          metadata:
            labels: "{{ default_vm_labels }}"
          spec:
            domain:
              cpu:
                cores: "{{ vm_cpu_cores }}"
              memory:
                guest: "{{ vm_memory }}"
              devices:
                disks:
                  - name: root-disk
                    disk:
                      bus: virtio
                  - name: cloud-init-disk
                    disk:
                      bus: virtio
                    serial: cloud-init
                interfaces:
                  - name: default
                    masquerade: {}
                rng: {}
              features:
                smm:
                  enabled: true
                acpi: {}
                apic: {}
                hyperv:
                  relaxed: {}
                  vapic: {}
                  spinlocks:
                    spinlocks: 8191
            networks:
              - name: default
                pod: {}
            volumes: "{{ base_volumes }}"
    state: present
  vars:
    base_volumes:
      - name: root-disk
        dataVolume:
          name: "{{ vm_name }}-root-disk"
      - name: cloud-init-disk
        cloudInitNoCloud:
          secretRef:
            name: "{{ vm_name }}-cloud-init"

- name: Show VM Namespace and VM Name
  debug:
    msg: "Namespace {{ vm_target_namespace }} - Name: {{ vm_name }}"

- name: Wait for VM to be ready
  kubernetes.core.k8s_info:
    api_version: kubevirt.io/v1
    kind: VirtualMachine
    name: "{{ vm_name }}"
    namespace: "{{ vm_target_namespace }}"
    wait: true
    wait_condition:
      type: Ready
      status: "True"
    wait_timeout: 600

- name: Create a floating IP to attach to VM
  ansible.builtin.include_role:
    name: massopencloud.esi.floating_ip
  vars:
    floating_ip_state: present
    floating_ip_name: "{{ vm_name }}-floating-ip"
    floating_ip_properties:
      vm: "{{ vm_name }}"
      instance: "{{ vm_order.metadata.namespace }}"
      purpose: "o-sac"

- name: Create external LoadBalancer for VM
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: Service
      metadata:
        name: "{{ vm_name }}-load-balancer"
        namespace: "{{ vm_target_namespace }}"
        labels: "{{ default_vm_labels }}"
      spec:
        type: LoadBalancer
        selector: "{{ default_vm_labels }}"
        ports: "{{ vm_service_ports }}"

- name: Get LoadBalancer IP
  kubernetes.core.k8s_info:
    api_version: v1
    kind: Service
    name: "{{ vm_name }}-load-balancer"
    namespace: "{{ vm_target_namespace }}"
  register: load_balancer
  until: load_balancer.resources[0].status.loadBalancer.ingress is defined
  retries: 30
  delay: 10

- name: Get VirtualMachine Instance to find the node
  kubernetes.core.k8s_info:
    api_version: kubevirt.io/v1
    kind: VirtualMachineInstance
    name: "{{ vm_name }}"
    namespace: "{{ vm_target_namespace }}"
  register: vmi_info

- name: Get Node information for the VM
  kubernetes.core.k8s_info:
    api_version: v1
    kind: Node
    name: "{{ vmi_info.resources[0].status.nodeName }}"
  register: node_info

- name: Build port mappings list
  ansible.builtin.set_fact:
    port_mappings: "{{ port_mappings | default([]) + [item.port | string + ':' + item.nodePort | string] }}"
  loop: "{{ load_balancer.resources[0].spec.ports }}"

- name: Create floating IP port forwarding to VM node NodePorts
  ansible.builtin.include_role:
    name: massopencloud.esi.floating_ip
    tasks_from: create_port_forwarding
  vars:
    internal_ip: "{{ node_info.resources[0].status.addresses | selectattr('type', 'equalto', 'InternalIP') | map(attribute='address') | first }}"
    floating_ip: "{{ allocate_floating_ip_result }}"
    internal_network: "{{ vm_internal_network }}"
    ports: "{{ port_mappings }}"
    description: "{{ vm_name }}-nodeport"

- name: Annotate VirtualMachine with floating IP address
  kubernetes.core.k8s:
    api_version: kubevirt.io/v1
    kind: VirtualMachine
    name: "{{ vm_name }}"
    namespace: "{{ vm_target_namespace }}"
    state: present
    definition:
      metadata:
        annotations:
          cloudkit.openshift.io/floating-ip-address: "{{ allocate_floating_ip_result }}"

- name: Get VM status
  kubernetes.core.k8s_info:
    api_version: kubevirt.io/v1
    kind: VirtualMachine
    name: "{{ vm_name }}"
    namespace: "{{ vm_target_namespace }}"
  register: vm_status

- name: Display VM information
  ansible.builtin.debug:
    msg:
      - "Virtual Machine '{{ vm_name }}' created successfully"
      - "Namespace: {{ vm_target_namespace }}"
      - "CPU Cores: {{ vm_cpu_cores }}"
      - "Memory: {{ vm_memory }}"
      - "Root Disk Size: {{ vm_disk_size }}"
      - "Status: {{ vm_status.resources[0].status.printableStatus | default('Unknown') }}"
