- name: Show node requests
  ansible.builtin.debug:
    var: cluster_infra_node_requests

- name: Create cluster network
  ansible.builtin.include_role:
    name: massopencloud.esi.network
  vars:
    network_suffix: "{{ cluster_infra_name }}"
    network_state: present
    network_tags: ['o-sac', '{{ cluster_infra_name }}']

- name: Set cluster_infra_network_name
  ansible.builtin.set_fact:
    cluster_infra_network_name: "network-{{ cluster_infra_name }}"

# Handle scale down **before** scale up: if we add new agents first,
# they may not have spec.clusterDeployment.name set by the time
# we run detach_and_unlabel_all_removed_agents, causing them to be
# erroneously detached.

- name: Wait for the Agents to be removed from the cluster
  ansible.builtin.include_role:
    name: manage_agents
    tasks_from: wait_for_agents_to_be_removed
  vars:
    manage_agents_cluster_order_name: "{{ cluster_infra_name }}"
    manage_agents_desired_count: "{{ item.numberOfNodes | int }}"
    manage_agents_resource_class: "{{ item.resourceClass }}"
  loop: "{{ cluster_infra_node_requests }}"

- name: Detach agents from cluster
  ansible.builtin.include_role:
    name: manage_agents
    tasks_from: detach_and_unlabel_all_removed_agents
  vars:
    manage_agents_cluster_order_name: "{{ cluster_infra_name }}"

- name: Select and label new Agent resources
  ansible.builtin.include_role:
    name: manage_agents
    tasks_from: select_and_label_new_agents
  vars:
    manage_agents_cluster_order_name: "{{ cluster_infra_name }}"
    manage_agents_desired_count: "{{ item.numberOfNodes | int }}"
    manage_agents_resource_class: "{{ item.resourceClass }}"
  loop: "{{ cluster_infra_node_requests }}"

- name: Attach agents to cluster network and approve them
  ansible.builtin.include_role:
    name: manage_agents
    tasks_from: attach_and_approve_all_new_agents
  vars:
    manage_agents_cluster_order_name: "{{ cluster_infra_name }}"
    manage_agents_cluster_network: "{{ cluster_infra_network_name }}"

- name: Approve agents assigned to the cluster
  ansible.builtin.include_role:
    name: manage_agents
    tasks_from: attach_and_approve_all_new_agents
  vars:
    manage_agents_cluster_order_name: "{{ cluster_infra_name }}"
    manage_agents_cluster_network: "{{ cluster_infra_network_name | default(omit) }}"
